.class-detail {
    padding: 5rem 0;

    .class-category {
        margin-bottom: 48px;

        @include pad {
            margin-bottom: 24px;
        }
    }

    .class-category .btn {
        padding: 1rem 2rem;
        border-radius: 0.5rem;
    }

    .class-teacher01 {
        width: 100px;
        height: 100px;
        background: url(../images/teacher01.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .class-teacher02 {
        width: 100px;
        height: 100px;
        background: url(../images/teacher02.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .class-teacher03 {
        width: 100px;
        height: 100px;
        background: url(../images/teacher03.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .class-teacher04 {
        width: 100px;
        height: 100px;
        background: url(../images/teacher04.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .class-block {
        background: $light;
        border-radius: 1.5rem;
        margin-bottom: 2rem;

        @include pad {
            margin-bottom: 1.5rem;
        }
    }

    .class-block .btn {
        padding: 0.5rem 3rem;
        font-size: 1.125rem;
        border-radius: 0.5rem;
    }

    .class-price {
        font-size: 2rem;
    }

    .btn-program-02 {
        background: linear-gradient(104deg, $secondary, $primary);
        color: $white;
        margin: 0 auto;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        font-size: 1.125rem;

        &:hover {
            opacity: 0.8;
            color: #ffffff;
        }
    }

    .list-group {
        border: 1px solid $white;
        padding: 1.5rem 2rem;
        background-color: #2d2d2d;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0;
        color: $white;
        background-color: #2d2d2d;
        border: unset;

        &:hover {
            color: $primary;
        }

        button {
            width: 2rem;
            height: 2rem;
        }
    }

    .btn-program-03 {
        width: 2rem;
        height: 2rem;
        background: linear-gradient(180deg, $secondary, $primary);
        color: $white;

        &:hover {
            opacity: 0.8;
            color: $white;
        }
    }

    .square {
        width: 10px;
        height: 10px;
        background-color: $white;
    }

    .course-intro-bar {
        position: relative;
        padding-left: 0.5rem;
    }

    .course-intro-bar.active::before {
        content: "";
        position: absolute;
        left: 0;
        width: 3px;
        height: 24px;
        border-left: 3px solid $primary;
    }

    .course-intro-point {
        position: relative;
        padding-left: 1rem;
    }

    .course-intro-point.active::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 12px;
        width: 5px;
        height: 5px;
        border-left: 5px solid $primary;
    }

    .teacher-content {
        color: #C1C1C1;
    }
}