.banner {
  .container {
    background: url(../images/bg_home.jpg) no-repeat;
    background-size: contain;
    background-position: center center;
    min-height: 680px;

    @include pad {
      background: url(../images/bg_home_mobile.jpg) no-repeat;
      min-height: 336px;
    }
  }

  .banner-title {
    padding: 51px 85px;
    border: 1px solid $white;
  }

  .title-gradient {
    background: linear-gradient($secondary, $primary);
    /* 將背景裁切成只有文字部分 */
    background-clip: text;
    -webkit-background-clip: text;
    /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
    color: transparent;
  }

  .square {
    width: 10px;
    height: 10px;
    background-color: $white;
  }

  h1 {
    @include pad {
      font-size: 24px;
    }
  }
}

.teach {
  padding: 5rem 0;

  @include mobile {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  h3 {
    @include pad-below {
      text-align: center;
      margin: 0 auto;
    }
  }

  .title-bar {
    width: 50px;
    border-bottom: 3px solid $primary;

    @include pad-below {
      margin-left: auto;
      margin-right: auto;
    }
  }


  .teach-block {
    padding-top: 5rem;
    padding-bottom: 3rem;

    @include mobile {
      border-radius: 12px;
      background: $gray-800;
      margin-bottom: 12px;
    }

    .change {
      margin-bottom: 2.25rem;
      font-size: 50px;
      color: $white;
    }

    &:hover {
      border: 1px solid $primary;
      border-radius: 12px;
      background: #202020;
    }

    &:hover .change {
      background: linear-gradient($secondary, $primary);
      /* 將背景裁切成只有文字部分 */
      background-clip: text;
      -webkit-background-clip: text;
      /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
      color: transparent;
    }
  }
}

.flow {
  padding: 5rem 0;

  .card {
    background: unset;
    border: 1px solid $white;
    border-radius: 12px;
    padding-left: 3rem;

    @include pad {
      margin-bottom: 2.5rem;
    }
  }

  .card-body {
    padding: 3rem 1rem;
  }

  .title-bar {
    width: 50px;
    border-bottom: 3px solid $primary;
  }

  .step {
    position: absolute;
    top: -36px;
  }
}

.learn {
  padding: 5rem 0;

  .title-bar {
    width: 50px;
    border-bottom: 3px solid $primary;
  }

}

.course {
  background: $black;
  padding: 5rem 0;

  .card {
    background: $light;
    border-radius: 12px;

    @include pad {
      margin-bottom: 1rem;
    }

    &:hover {
      border: 1px solid $primary;
    }
  }

  .card-body {

    .card-title {
      font-size: 1.25rem;
      min-height: 58px;
    }

    .card-price {
      font-size: 2rem;
    }
  }

  .title-bar {
    width: 50px;
    border-bottom: 3px solid $primary;
  }

  .teacher01 {
    width: 100px;
    height: 100px;
    background: url(../images/teacher01.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .teacher02 {
    width: 100px;
    height: 100px;
    background: url(../images/teacher02.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .teacher03 {
    width: 100px;
    height: 100px;
    background: url(../images/teacher03.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .teacher04 {
    width: 100px;
    height: 100px;
    background: url(../images/teacher04.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .btn-program-01 {
    background: linear-gradient(104deg, $secondary, $primary);
    color: $white;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-size: 1.125rem;

    &:hover {
      opacity: 0.8;
      color: #ffffff;
    }
  }

}

.benefit {
  color: $white;

  .benefit-block01 {
    height: 615px;
    background: url(../images/info01.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    z-index: 1;
    position: absolute;

    &:hover {
      opacity: 0.88;
    }
  }

  .benefit-block02 {
    height: 615px;
    background: url(../images/info02.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;

    &:hover {
      opacity: 0.88;
    }
  }

  .benefit-block03 {
    height: 615px;
    background: url(../images/info03.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;

    &:hover {
      opacity: 0.88;
    }
  }

  .benefit-block04 {
    height: 615px;
    background: url(../images/info04.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;

    &:hover {
      opacity: 0.88;
    }
  }

  .benefit-block {
    position: relative;
    color: #ffffff;

    @include pad {
      text-align: center;
    }
  }

  .benefit-block:hover .active::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 3px;
    border-bottom: 3px solid $primary;
  }

  .subtitle-bar {
    width: 70px;
    border-bottom: 3px solid $primary;
  }

  span {
    font-size: 2rem;
    margin-bottom: 18px;
  }

  .benefit-block:hover span {
    color: $primary;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.125rem;
    color: rgba($color: #ffffff, $alpha: 0.5);
  }
}

.article {
  padding: 5rem 0;

  .title-bar {
    width: 50px;
    border-bottom: 3px solid $primary;
  }

  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;

    &-topLeft {
      border-top: 2px solid $primary;
      border-left: 2px solid $primary;
      border-top-left-radius: 10px;
    }

    &-topRight {
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      border-top-right-radius: 10px;
    }

    &-bottomLeft {
      border-bottom: 2px solid $primary;
      border-left: 2px solid $primary;
      border-bottom-left-radius: 10px;
    }

    &-bottomRight {
      border-bottom: 2px solid $primary;
      border-right: 2px solid $primary;
      border-bottom-right-radius: 10px;
    }
  }

  .card {
    background: unset;

    &:hover {
      .squareRounded {
        display: block;
      }
    }
  }

  .article-block {
    padding: 2rem;
    margin: 1rem;
  }
}

.trainee {
  color: $white;
  padding: 5rem 0;
  background: url(../images/bg_share.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 733px;

  .title-bar {
    width: 50px;
    border-bottom: 3px solid $primary;
  }

  .swiper {
    width: 100%;
    height: 429px;

    &-img {
      top: 0;
      left: 10px;
      width: 60%;
      height: 90%;
      border-radius: 24px;
      position: absolute;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #7C7E77;
        border-radius: 24px;
        left: -10px;
        top: 10px;
        z-index: -1;

        @include pad {
          left: -5px;
          top: 5px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
      }

      @include pad {
        position: relative;
        width: calc(100% - 5px);
        height: 213px;
        left: 5px;
        margin-bottom: 40px;
      }
    }

    .feedback {
      background: $white;
      color: $black;
      width: 45%;
      padding: 32px;
      border-radius: 24px 24px 24px 0;

      bottom: 0;
      right: 0;
      position: absolute;

      h6 {
        font-size: 18px;
      }

      &-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 32px;
        bottom: 100%;
        transform: translateY(50%);

        @include pad {
          width: 80px;
          height: 80px;
          right: 24px;
          top: -30px;
          bottom: auto;
          transform: none;
        }
      }

      @include pad {
        position: relative;
        width: 100%;
        padding: 24px;
        margin-bottom: 32px;
      }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      content: '';
    }

    &-button-next,
    &-button-prev {
      position: unset;
      width: 24px;
      height: 24px;
      margin-top: 0;
      color: $primary;
    }

    .swiper-pagination {
      position: unset;
      width: auto;

      .swiper-pagination-bullet {
        background-color: $primary;
        opacity: initial;

        &-active {
          width: 16px;
          border-radius: 100px;
        }
      }
    }

    &-buttons {
      bottom: 0;
      left: 30%;
      transform: translateX(-50%);
      z-index: 10;
      position: absolute;

      @include pad {
        position: initial;
        transform: none;
      }
    }
  }
}

.join {
  background: $black;
  padding: 5rem 0;

  .join-block {
    background: #202020;
    border-radius: 24px;
    padding: 3rem;
    display: flex;
    align-items: center;

    @include pad {
      display: inline-block;
      text-align: center;
    }
  }

  .join-block-content {
    margin-left: 3rem;
    margin-right: 6rem;

    @include pad {
      margin: unset;
    }
  }

  span {
    font-size: 5rem;
    opacity: 0.5;
  }
}