.nav-gradient {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 90px;
        left: 0;
        width: 50%;
        height: 2px;
        border-bottom: 2px solid $primary;
    }

    &::after {
        content: "";
        position: absolute;
        top: 90px;
        right: 0;
        width: 50%;
        height: 2px;
        border-bottom: 2px solid $secondary;
    }
}

.navbar {
    height: 90px;

    .navbar-nav .nav-link,
    .navbar-nav .nav-link.active {
        font-size: 18px;
        color: $white;

        &:hover {
            color: $primary;
            font-weight: 700;
        }
    }

    .nav-link .material-icons {
        margin-right: 6px;
    }
}

.footer {
    background: #1A1A1A;
    color: #909090;
}

.modal {
    .modal-header {
        border-bottom: unset;
    }

    .modal-body {
        padding: 32px 155px 48px 150px;
        color: #C1C1C1;

        @include pad {
            padding: 24px;
        }
    }

    .form-control {
        background: unset;
        border: 1px solid $white;
        color: $white;
    }



    .btn-program-03 {
        background: linear-gradient(97deg, $secondary, $primary);
        color: $white;
        border-radius: 8px;
        font-size: 1.125rem;

        &:hover {
            opacity: 0.8;
            color: #ffffff;
        }
    }

    .other-login {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .other-login::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 30%;
        height: 1px;
        border: 1px solid #C1C1C1;
    }

    .other-login::after {
        content: "";
        position: absolute;
        right: 0px;
        width: 30%;
        height: 1px;
        border: 1px solid #C1C1C1;
    }
}

//月曆顏色
.days{
    color: $black;
}