.sucessful {
    .timeline {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $primary;
        }

        &-pointer {
            position: relative;
            color: $primary;

            p {
                padding-top: 24px;
                margin-bottom: 0;
                line-height: 1.5;
            }

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                height: 20px;
                border: 1px solid $primary;
                border-radius: 50%;
                background-color: #2d2d2d;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                z-index: 1;
            }

            &.step-1::before,
            &.step-2::before,
            &.step-3::before {
                content: "\e876";
                font-family: 'Material Icons';
            }

            &.active {
                color: $primary;

                &::before {
                    color: $white;
                    background-color: $primary;
                    border-color: $primary;
                }
            }
        }
    }


    .step2 {
        background: $black;
        padding: 48px 0 80px 0;
        min-height: calc(100vh - 250px);
    }

    .step2-content {
        padding: 48px 32px;

        label {
            color: #C1C1C1;
        }

        .form-control,
        .form-select {
            background: unset;
            color: #C1C1C1;
        }

        .btn-program-01 {
            background: linear-gradient(104deg, #09ACF5, #62DB54);
            color: #fff;
            margin: 0 auto;
            margin-top: 3rem;
            padding: 0.5rem 2rem;
            border-radius: 8px;
            font-size: 1.125rem;
        }
    }
}